body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.header {
  color: white;
  padding: 1rem;
  text-align: center;
}

.header img.image-fond {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.header p{
  color: #b30000;
  font-size: larger;
  font-family: sans-serif;
}
form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 1rem;
}

h2 {
  text-align: center;
  color: #b30000;
}

.formulaire {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formulaire .input{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
}
.formulaire .input:nth-child(odd) {
  animation-delay: 0.2s;
}

.formulaire .input:nth-child(even) {
  animation-delay: 0.4s;
}

.party-gauche, .party-droit {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-weight: bold;
  margin-bottom: 4px;
}

.input input[type="text"],
.input input[type="tel"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input input[type="radio"] {
  margin-right: 5px;
}

button[type="submit"] {
  display: block;
  margin: 2rem auto 0;
  padding: 12px 30px;
  background-color: #0400e6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}
button[type="reset"] {
  display: block;
  margin: 2rem auto 0;
  padding: 12px 30px;
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #151f8c;
}
button[type="reset"]:hover {
  background-color: #831818;
}
button:focus{
  background-color: white;
  color: black;
}


footer {
  background-color: #b30000;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/*Animation*/
@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
/* Responsive : passe en une colonne sur petit écran */
@media (max-width: 768px) {
  .formulaire {
    flex-direction: column;
  }

  .party-gauche, .party-droit {
    flex: 1 1 100%;
  }
}
